@font-face {
  font-family: Mabry;
  font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url(https://assets.fatllama.com/static/fonts/mabry-medium-pro.otf);
	src: url(https://assets.fatllama.com/static/fonts/mabry-medium-pro.eot);
  src: url(https://assets.fatllama.com/static/fonts/mabry-medium-pro.eot#iefix) format("embedded-opentype"),
    url(https://assets.fatllama.com/static/fonts/mabry-medium-pro.woff2) format("woff2"),
    url(https://assets.fatllama.com/static/fonts/mabry-medium-pro.woff) format("woff"),
    url(https://assets.fatllama.com/static/fonts/mabry-medium-pro.ttf) format("truetype");
}

@font-face {
  font-family: Mabry;
  font-display: swap;
	font-style: normal;
	font-weight: 700;
	src: url(https://assets.fatllama.com/static/fonts/mabry-bold-pro.otf);
	src: url(https://assets.fatllama.com/static/fonts/mabry-bold-pro.eot);
  src: url(https://assets.fatllama.com/static/fonts/mabry-bold-pro.eot#iefix) format("embedded-opentype"),
    url(https://assets.fatllama.com/static/fonts/mabry-bold-pro.woff2) format("woff2"),
    url(https://assets.fatllama.com/static/fonts/mabry-bold-pro.woff) format("woff"),
    url(https://assets.fatllama.com/static/fonts/mabry-bold-pro.ttf) format("truetype");
}

@font-face {
  font-family: Mabry;
  font-display: swap;
	font-style: normal;
	font-weight: 900;
	src: url(https://assets.fatllama.com/static/fonts/mabry-black-pro.otf);
	src: url(https://assets.fatllama.com/static/fonts/mabry-black-pro.eot);
  src: url(https://assets.fatllama.com/static/fonts/mabry-black-pro.eot#iefix) format("embedded-opentype"),
    url(https://assets.fatllama.com/static/fonts/mabry-black-pro.woff2) format("woff2"),
    url(https://assets.fatllama.com/static/fonts/mabry-black-pro.woff) format("woff"),
    url(https://assets.fatllama.com/static/fonts/mabry-black-pro.ttf) format("truetype");
}

body {
  font-size: 16px;
  font-weight: 500;
  font-family: Mabry, Helvetica, Arial, Sans-serif;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
}
